<footer class="row text-light bg-dark">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center align-items-center">
       <h3>Trabajo Practico - Web Services</h3>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center align-items-center">
        <ul>
            <h3>Datos Alumno</h3>
            <li> <b>Nombre: </b> Milton</li>
            <li> <b>Apellido: </b> Delgado </li>
            <li> <b>Dni: </b> 43790454 </li>
            <li> <b>LU: </b> APU004565</li>
            <li> <b>Correo:</b> theaxeblue&#64;gmail.com</li>
        </ul>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <img class="img-fluid img-footer" src="assets/img/bandera.png" alt="bandera">
    </div>
</footer>