/* You can add global styles to this file, and also import other style files */
.margin-top {
    @media screen and (min-width: 0px) {
        margin-top: 150px;
        }
    @media (min-width: 0px) and (max-width: 180px) {
        margin-top: 115px;    
    }
    @media screen  and (min-width: 180px) {
        margin-top: 90px;
    }
    @media screen and (min-width: 576px) {
        margin-top: 125px;    
    }
    @media (min-width:992px) and (max-width: 3000px) {
        margin-top: 88px; 
    }
}